<div class="wrapper">
  <div class="chat">
    <div class="chat-header">
        <div class="header-button">
          <%= link_to "Exit", "#" %>
        </div>
    </div>
    <div class="messages" id="messages">
      <%= render partial: 'messages/message', collection: @messages %>
    </div>
    <% if user_signed_in? %>
      <div class="messege_form" %>
        <%= form_with model: [article, message], class: 'form', id: "new_article", local: true do |f| %>
          <div class="form-input">
            <%= f.text_field :content, class: 'form-message', placeholder: 'type a message',id: "message_text_field" %>
          </div>
            <%= f.submit '送信', class: 'form-submit', id: "submit_btn" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>




