<div class="container-fluid vh-100" style="background-color: #99FFCC;">
  <div class="row">
    <div class="col-2 px-0">
      <div class="nav flex-column nav-pills bg-warning border" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active border" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
        <a class="nav-link border" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">憲法</a>
        <a class="nav-link border" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">民法</a>
        <a class="nav-link border" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">刑法</a>
      </div>
    </div>
    <div class="col-10">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <div class="text-center">
            <h3 class="title my-4">新着投稿</h3>
          </div>
          <div class="row text-break">
            <% if Article.present? %>
              <% @articles.each do |article| %>
                <div class="px-3 col-md-3 text-center">
                  <%= link_to (article_path(article.id)) do %>
                    <%= image_tag(article.user.image.variant(resize: '200x200'), class: "rounded-circle img-fluid") if article.user.image.attached? %>
                    <div class="card">
                      <div class="card-body bg-light">
                        <%= article.title %>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          <div class="row text-break">
            <% if Article.present? %>
              <% Tag.where(subj: "憲法").order('created_at DESC').each do |tag| %>
                <div class="px-3 col-md-4 text-center">
                    <% ArticleTag.where(tag_id: tag.id).each do |article_tag| %>
                      <%= link_to (article_path(article_tag.article.id)) do %>
                        <%= image_tag(article_tag.article.user.image.variant(resize: '200x200'), class: "rounded-circle img-fluid") if article_tag.article.user.image.attached? %>
                        <div class="card">
                          <div class="card-body bg-light text-dark">
                            <%= article_tag.article.title %>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
          <div class="row text-break">
            <% if Article.present? %>
              <% Tag.where(subj: "民法").order('created_at DESC').each do |tag| %>
                <div class="px-3 col-md-4 text-center">
                    <% ArticleTag.where(tag_id: tag.id).each do |article_tag| %>
                      <%= link_to (article_path(article_tag.article.id)) do %>
                        <%= image_tag(article_tag.article.user.image.variant(resize: '200x200'), class: "rounded-circle img-fluid") if article_tag.article.user.image.attached? %>
                        <div class="card">
                          <div class="card-body bg-light text-dark">
                            <%= article_tag.article.title %>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
          <div class="row text-break">
            <% if Article.present? %>
              <% Tag.where(subj: "刑法").order('created_at DESC').each do |tag| %>
                <div class="px-3 col-md-4 text-center">
                    <% ArticleTag.where(tag_id: tag.id).each do |article_tag| %>
                      <%= link_to (article_path(article_tag.article.id)) do %>
                        <%= image_tag(article_tag.article.user.image.variant(resize: '200x200'), class: "rounded-circle img-fluid") if article_tag.article.user.image.attached? %>
                        <div class="card">
                          <div class="card-body bg-light text-dark">
                            <%= article_tag.article.title %>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%# <% if user_signed_in? %> %>
  <%= link_to(new_article_path, class: 'button') do %>
    <span class='purchase-btn-text text-light'>投　稿</span>
  <% end %>
<%# <% end %> %>






