<div class="container-fluid">
  <div class="row">
    <div class="col-2 px-0">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">憲法</a>
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">民法</a>
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">刑法</a>
      </div>
    </div>
    <div class="col-10">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <div class="row text-break">
            <% if Article.present? %>
              <% @articles.each do |article| %>
                <div class="px-3 col-md-3">
                    <%= link_to image_tag("star.png", class: "rounded-circle img-fluid", size: '130x50'), "#" %>
                    <h5 class="item-title">
                      <%= article.title %>
                    </h5>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          <div class="row text-break">
            <% if Article.present? %>
              <% Tag.where(subj: "憲法").order('created_at DESC').each do |tag| %>
                <div class="px-3 col-md-3">
                  <%= link_to image_tag("star.png", class: "rounded-circle img-fluid", size: '130x50'), "#" %>
                  <h5 class="item-title">
                    <% ArticleTag.where(tag_id: tag.id).each do |article_tag| %>
                      <%= article_tag.article.title %>
                    <% end %>
                  </h5>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
          <div class="row text-break">
            <% if Article.present? %>
              <% Tag.where(subj: "民法").order('created_at DESC').each do |tag| %>
                <div class="px-3 col-md-3">
                  <%= link_to image_tag("star.png", class: "rounded-circle img-fluid", size: '130x50'), "#" %>
                  <h5 class="item-title">
                    <% ArticleTag.where(tag_id: tag.id).each do |article_tag| %>
                      <%= article_tag.article.title %>
                    <% end %>
                  </h5>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
          <div class="row text-break">
            <% if Article.present? %>
              <% Tag.where(subj: "刑法").order('created_at DESC').each do |tag| %>
                <div class="px-3 col-md-3">
                  <%= link_to image_tag("star.png", class: "rounded-circle img-fluid", size: '130x50'), "#" %>
                  <h5 class="item-title">
                    <% ArticleTag.where(tag_id: tag.id).each do |article_tag| %>
                      <%= article_tag.article.title %>
                    <% end %>
                  </h5>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= link_to(new_article_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text text-dark'>投　稿</span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>






