<div class="container-fluid">
    <div class="row">
      <div class="col-2 px-0">
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Home</a>
          <a class="list-group-item list-group-item-action" id="list-constitution-list" data-toggle="list" href="#list-constitution" role="tab" aria-controls="constitution">憲法</a>
          <a class="list-group-item list-group-item-action" id="list-civil-list" data-toggle="list" href="#list-civil" role="tab" aria-controls="civil">民法</a>
          <a class="list-group-item list-group-item-action" id="list-civil-list" data-toggle="list" href="#list-civil" role="tab" aria-controls="civil">刑法</a>
        </div>
      </div>
      <div class="col-10">
        <div class="tab-content" id="nav-tabContent">
        <%# モデルに投稿があった場合に新しい順に並べる記述 %>
          <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
            <div class="row text-break">
                <div class="px-3 col-md-3">
                    <%= link_to image_tag("staff1.jpg", class: "rounded-circle img-fluid"), "#" %>
                    <h3>sampletextttttttttttttttttttttyyyyyyyyyyyyyyyyyyyyyyyyyy</h1>
                </div>
                <div class="px-3 col-md-3">
                    <%= link_to image_tag("staff1.jpg", class: "rounded-circle img-fluid"), "#" %>
                    <h3>sampletext</h1>
                </div>
                <div class="px-3 col-md-3">
                    <%= link_to image_tag("staff1.jpg", class: "rounded-circle img-fluid"), "#" %>
                    <h3>sampletext</h1>
                </div>
            </div>
          </div>
          <div class="tab-pane fade" id="list-constitution" role="tabpanel" aria-labelledby="list-profile-list">
            <div class="row text-break">
                <div class="px-3 col-md-3">
                    <%= link_to image_tag("staff1.jpg", class: "rounded-circle img-fluid"), "#" %>
                    <h3>sampletextttttttttttttttttttttyyyyyyyyyyyyyyyyyyyyyyyyyy</h1>
                </div>
                <div class="px-3 col-md-3">
                    <%= link_to image_tag("staff1.jpg", class: "rounded-circle img-fluid"), "#" %>
                    <h3>sampletext</h1>
                </div>
                <div class="px-3 col-md-3">
                    <%= link_to image_tag("staff1.jpg", class: "rounded-circle img-fluid"), "#" %>
                    <h3>sampletext</h1>
                </div>
            </div>
          </div>
          <div class="tab-pane fade" id="list-civil" role="tabpanel" aria-labelledby="list-civil-list">
            <div class="row text-break">
                <div class="px-3 col-md-3">
                    <%= link_to image_tag("staff1.jpg", class: "rounded-circle img-fluid"), "#" %>
                    <h3>sampletextttttttttttttttttttttyyyyyyyyyyyyyyyyyyyyyyyyyy</h1>
                </div>
                <div class="px-3 col-md-3">
                    <%= link_to image_tag("staff1.jpg", class: "rounded-circle img-fluid"), "#" %>
                    <h3>sampletext</h1>
                </div>
                <div class="px-3 col-md-3">
                    <%= link_to image_tag("staff1.jpg", class: "rounded-circle img-fluid"), "#" %>
                    <h3>sampletext</h1>
                </div>
            </div>
          </div>
          <div class="tab-pane fade" id="list-civil" role="tabpanel" aria-labelledby="list-civil-list">
            <div class="row text-break">
                <div class="px-3 col-md-3">
                    <%= link_to image_tag("staff1.jpg", class: "rounded-circle img-fluid"), "#" %>
                    <h3>sampletextttttttttttttttttttttyyyyyyyyyyyyyyyyyyyyyyyyyy</h1>
                </div>
                <div class="px-3 col-md-3">
                    <%= link_to image_tag("staff1.jpg", class: "rounded-circle img-fluid"), "#" %>
                    <h3>sampletext</h1>
                </div>
                <div class="px-3 col-md-3">
                    <%= link_to image_tag("staff1.jpg", class: "rounded-circle img-fluid"), "#" %>
                    <h3>sampletext</h1>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>    
</div>





