<div class="container-fluid  article-show">
  <div class="row article-contents">
    <div class="col-2 px-0">
      <div class="nav flex-column nav-pills bg-warning border" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active border" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
        <a class="nav-link border" id="v-pills-constitution-tab" data-toggle="pill" href="#v-pills-constitution" role="tab" aria-controls="v-pills-constitution" aria-selected="false">憲法</a>
        <a class="nav-link border" id="v-pills-civil-tab" data-toggle="pill" href="#v-pills-civil" role="tab" aria-controls="v-pills-civil" aria-selected="false">民法</a>
        <a class="nav-link border" id="v-pills-criminal-tab" data-toggle="pill" href="#v-pills-criminal" role="tab" aria-controls="v-pills-criminal" aria-selected="false">刑法</a>
        <a class="nav-link border" id="v-pills-civil-procedure-tab" data-toggle="pill" href="#v-pills-civil-procedure" role="tab" aria-controls="v-pills-civil-procedure" aria-selected="false">民事訴訟法</a>
        <a class="nav-link border" id="v-pills-criminal-procedure-tab" data-toggle="pill" href="#v-pills-criminal-procedure" role="tab" aria-controls="v-pills-criminal-procedure" aria-selected="false">刑事訴訟法</a>
        <a class="nav-link border" id="v-pills-administrative-tab" data-toggle="pill" href="#v-pills-administrative" role="tab" aria-controls="v-pills-administrative" aria-selected="false">行政法</a>
      </div>
      <h4>科目更新予定</h4>
    </div>
    <div class="col-10">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <div class="jumbotron jumbotron-fluid">
            <h1 class="display-4">誰とでも簡単に法律の討論を</h1>
            <p class="lead">今この世の中だからこそ、もっと話そう</p>
            <p class="lead">自分の意見を自由にぶつけられる場が「りーがるゼミ」</p>
          </div>            
          <div class="title text-center">
            <h3>新着投稿</h3>
          </div>
          <div class="row text-break">
            <% if Article.present? %>
              <% @articles.each do |article| %>
                <div class="p-3 col-md-3 text-center">
                  <%= link_to (article_path(article.id)) do %>
                    <% if article.user.image.attached? %>
                      <%= image_tag(article.user.image.variant(resize: '150x150'), class: "rounded-circle img-fluid") %>
                    <% else %>
                      <%= image_tag "avatardefault_92824.png", size: "150x150", class: "rounded-circle img-fluid" %>
                    <% end %>
                    <div class="card">
                      <div class="card-body bg-light">
                        <%= article.title %>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-constitution" role="tabpanel" aria-labelledby="v-pills-constitution-tab">
          <div class="title text-center">
            <h3>憲法</h3>
          </div>
          <div class="row text-break">
            <% if Article.present? %>
              <% Tag.where(subj: "憲法").order('created_at DESC').each do |tag| %>
                <div class="p-3 col-md-4 text-center">
                  <% ArticleTag.where(tag_id: tag.id).each do |article_tag| %>
                    <%= link_to (article_path(article_tag.article.id)) do %>
                      <% if article_tag.article.user.image.attached? %>
                        <%= image_tag(article_tag.article.user.image.variant(resize: '150x150'), class: "rounded-circle img-fluid") %>
                      <% else %>
                        <%= image_tag "avatardefault_92824.png", size: "150x150", class: "rounded-circle img-fluid" %>
                      <% end %>
                      <div class="card">
                        <div class="card-body bg-light text-dark">
                          <%= article_tag.article.title %>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-civil" role="tabpanel" aria-labelledby="v-pills-civil-tab">
          <div class="title text-center">
            <h3>民法</h3>
          </div>
          <div class="row text-break">
            <% if Article.present? %>
              <% Tag.where(subj: "民法").order('created_at DESC').each do |tag| %>
                <div class="p-3 col-md-4 text-center">
                  <% ArticleTag.where(tag_id: tag.id).each do |article_tag| %>
                    <%= link_to (article_path(article_tag.article.id)) do %>
                      <% if article_tag.article.user.image.attached? %>
                        <%= image_tag(article_tag.article.user.image.variant(resize: '150x150'), class: "rounded-circle img-fluid") %>
                      <% else %>
                        <%= image_tag "avatardefault_92824.png", size: "150x150", class: "rounded-circle img-fluid" %>
                      <% end %>
                      <div class="card">
                        <div class="card-body bg-light text-dark">
                          <%= article_tag.article.title %>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-criminal" role="tabpanel" aria-labelledby="v-pills-criminal-tab">
          <div class="title text-center">
            <h3>刑法</h3>
          </div>
          <div class="row text-break">
            <% if Article.present? %>
              <% Tag.where(subj: "刑法").order('created_at DESC').each do |tag| %>
                <div class="p-3 col-md-4 text-center">
                  <% ArticleTag.where(tag_id: tag.id).each do |article_tag| %>
                    <%= link_to (article_path(article_tag.article.id)) do %>
                      <% if article_tag.article.user.image.attached? %>
                        <%= image_tag(article_tag.article.user.image.variant(resize: '150x150'), class: "rounded-circle img-fluid") %>
                      <% else %>
                        <%= image_tag "avatardefault_92824.png", size: "150x150", class: "rounded-circle img-fluid" %>
                      <% end %>
                      <div class="card">
                        <div class="card-body bg-light text-dark">
                          <%= article_tag.article.title %>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-civil-procedure" role="tabpanel" aria-labelledby="v-pills-civil-procedure-tab">
          <div class="title text-center">
            <h3>民事訴訟法</h3>
          </div>
          <div class="row text-break">
            <% if Article.present? %>
              <% Tag.where(subj: "民事訴訟法").order('created_at DESC').each do |tag| %>
                <div class="p-3 col-md-4 text-center">
                  <% ArticleTag.where(tag_id: tag.id).each do |article_tag| %>
                    <%= link_to (article_path(article_tag.article.id)) do %>
                      <% if article_tag.article.user.image.attached? %>
                        <%= image_tag(article_tag.article.user.image.variant(resize: '150x150'), class: "rounded-circle img-fluid") %>
                      <% else %>
                        <%= image_tag "avatardefault_92824.png", size: "150x150", class: "rounded-circle img-fluid" %>
                      <% end %>
                      <div class="card">
                        <div class="card-body bg-light text-dark">
                          <%= article_tag.article.title %>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-criminal-procedure" role="tabpanel" aria-labelledby="v-pills-criminal-procedure-tab">
          <div class="title text-center">
            <h3>刑事訴訟法</h3>
          </div>
          <div class="row text-break">
            <% if Article.present? %>
              <% Tag.where(subj: "刑事訴訟法").order('created_at DESC').each do |tag| %>
                <div class="p-3 col-md-4 text-center">
                  <% ArticleTag.where(tag_id: tag.id).each do |article_tag| %>
                    <%= link_to (article_path(article_tag.article.id)) do %>
                      <% if article_tag.article.user.image.attached? %>
                        <%= image_tag(article_tag.article.user.image.variant(resize: '150x150'), class: "rounded-circle img-fluid") %>
                      <% else %>
                        <%= image_tag "avatardefault_92824.png", size: "150x150", class: "rounded-circle img-fluid" %>
                      <% end %>
                      <div class="card">
                        <div class="card-body bg-light text-dark">
                          <%= article_tag.article.title %>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-administrative" role="tabpanel" aria-labelledby="v-pills-administrative-tab">
          <div class="title text-center">
            <h3>行政法</h3>
          </div>
          <div class="row text-break">
            <% if Article.present? %>
              <% Tag.where(subj: "行政法").order('created_at DESC').each do |tag| %>
                <div class="p-3 col-md-4 text-center">
                  <% ArticleTag.where(tag_id: tag.id).each do |article_tag| %>
                    <%= link_to (article_path(article_tag.article.id)) do %>
                      <% if article_tag.article.user.image.attached? %>
                        <%= image_tag(article_tag.article.user.image.variant(resize: '150x150'), class: "rounded-circle img-fluid") %>
                      <% else %>
                        <%= image_tag "avatardefault_92824.png", size: "150x150", class: "rounded-circle img-fluid" %>
                      <% end %>
                      <div class="card">
                        <div class="card-body bg-light text-dark">
                          <%= article_tag.article.title %>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= link_to(new_article_path, class: 'button') do %>
  <span class='purchase-btn-text text-light'>投　稿</span>
<% end %>






