  <table class="table">
    <tbody>
      <div class="text-center py-5">
        <%= link_to image_tag(user.image.variant(resize: '150x150'), class: "rounded-circle img-fluid"), user_path(user.id) if user.image.attached? %>
      </div>
      <tr>
        <th class="table-col1">NickName</th>
        <td class="table-col2"><%= user.nickname %></td>
      </tr>
      <tr>
        <th class="table-col1">Profile</th>
        <td class="table-col2"><%= user.profile %></td>
      </tr>
      <tr>
        <th class="table-col1">得意科目</th>
        <td class="table-col2"><%= user.fav_subj %></td>
      </tr>
      <tr>
        <th class="table-col1">苦手科目</th>
        <td class="table-col2"><%= user.weak_subj %></td>
      </tr>
    </tbody>
  </table>
