<div class="container-fluid contents ">
  <div class="container">
  <%= form_with model: @user, class: "new_user", local: true do |f|%>
    <h2>
      <%= "Edit Page" %>
    </h2>
    <%= render 'devise/shared/error_messages', model: @user %>          
    <table class="table text-break">
      <tbody>
        <div class="text-center my-5">
          <%= image_tag(@user.image.variant(resize: '150x150'), class: "rounded-circle img-fluid") if @user.image.attached? %>
        </div>
        <tr>
          <th class="table-col1">アイコン画像</th>
          <td class="table-col2"><%= f.file_field :image %></td>
        </tr>
        <tr>
          <th class="table-col1">Nickname</th>
          <td class="table-col2"><%= f.text_field :nickname %></td>
        </tr>
        <tr>
          <th class="table-col1">Profile</th>
          <td class="table-col2"><%= f.text_area :profile %></td>
        </tr>
        <tr>
          <th class="table-col1"><%= f.label :fav_subj, "得意科目" %></th>
          <td class="table-col2"><%= f.select :fav_subj, [["憲法", "憲法"], ["民法", "民法"], ["刑法", "刑法"], ["民事訴訟法", "民事訴訟法"], ["刑事訴訟法", "刑事訴訟法"], ["行政法", "行政法"]],include_blank: "なし" %></td>
        </tr>
        <tr>
          <th class="table-col1"><%= f.label :weak_subj, "苦手科目" %></th>
          <td class="table-col2"><%= f.select :weak_subj, [["憲法", "憲法"], ["民法", "民法"], ["刑法", "刑法"], ["民事訴訟法", "民事訴訟法"], ["刑事訴訟法", "刑事訴訟法"], ["行政法", "行政法"]],include_blank: "なし" %></td>
        </tr>
      </tbody>
    </table>
    <div class="text-center">
      <% if user_signed_in? && current_user == @user %>
        <%= f.submit "O K", class: "px-5 m-3 btn btn-primary btn-lg"%>    
      <% end %>
      <%= link_to (user_path(current_user))do %>  
        <button class="px-5 m-3 btn btn-primary btn-lg">
          Back
        </button>
      <% end %>
    </div>
  <% end %>
</div>




