<div class="col-sm-9 container justify-content-center">
  <%= form_with model: @user, local: true do |f|%>
    <h2 class="text-center my-5">
      <%= "Edit Page" %>
    </h2>
    <table class="table text-break">
      <tbody>
        <div class="text-center my-5">
          <%= image_tag "star.png", class: "rounded-circle img-fluid", size: '130x50' %>
          <%#= f.file_field :image %>
        </div>
        <tr>
          <th class="table-col1">名前</th>
          <td class="table-col2"><%= f.text_field :nickname %></td>
        </tr>
        <tr>
          <th class="table-col1">プロフィール</th>
          <td class="table-col2"><%= f.text_area :profile %></td>
        </tr>
        <tr>
          <th class="table-col1">得意科目</th>
          <td class="table-col2"><%= f.text_area :fav_subj %></td>
        </tr>
        <tr>
          <th class="table-col1">苦手科目</th>
          <td class="table-col2"><%= f.text_area :weak_subj %></td>
        </tr>
      </tbody>
    </table>
    <div class="text-center">
      <% if user_signed_in? && current_user == @user %>
        <%= f.submit "O K", class: "px-5 m-3 btn btn-primary btn-lg"%>    
      <% end %>
      <%= link_to (user_path(current_user))do %>  
        <button class="px-5 m-3 btn btn-primary btn-lg">
          Back
        </button>
      <% end %>
    </div>
  <% end %>
</div>

