<div class="contents row">
  <div class="container">
      <h2>ユーザーログイン</h2>
        <%= form_with model: @user, url: user_session_path, class: "new_user", local: true do |f| %>
          <%= render 'devise/shared/error_messages', model: @user %>          
          <div class="form-group">
            <%= f.label :email, "メールアドレス" %><br />
            <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "※必須" %>
          </div>

          <div class="form-group">
            <%= f.label :password, "パスワード（6文字以上）" %><br />
            <%= f.password_field :password, class: "form-control", placeholder: "※必須" %>
          </div>
          <div>
          <%= link_to "アカウントをお持ちでない方はこちら", new_user_registration_path, class: "registration-info"%>
          </div>
            <%= f.submit "ログイン", class: "px-5 m-3 btn btn-primary btn-lg"  %>
        <% end %>
  </div>
</div>

